<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Timestamp Microservice</title>
    <link rel="stylesheet" href="/home.css">
  </head>
<body>
  <h1>Timestamp Microservice</h1>
  <p>
    Timestamp API is free web service to obtain both the Unix timestamp and the natural language form of that date from passed paramater.
  </p>
  <h2>Example Usage</h2>
  <code>https://abc.herokuapp.com/December%2015,%202015</code><br>
  <code>https://abc.herokuapp.com/1450130400</code>
  <h2>Example Output</h2>
  <code>{"unix":"1450130400","natural":"December 15, 2015"}</code>
</body>
</html>
